body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

header {
  background-color: #000;
  color: #f8ad1e;
  text-align: center;
  padding: 1rem;
}

header img {
  height: 60px;
  margin-bottom: 0.5rem;
}

header h1 {
  font-size: 1.8rem;
  margin: 0;
}

html, body {
  overflow-x: hidden;
}


/* Botão Dê sua Ideia */
.botao-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.botao-box {
  background: none;
}

.botao-ideia {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.botao-ideia:hover {
  background-color: #f8ad1e;
  color: white;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  padding: 1rem;
  background-color: #111;
}

select,
input[type="text"] {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  min-width: 200px;
}

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}


.card {
  background-color: #2c2c2c;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card h3 {
  color: #f8ad1e;
  margin-top: 0;
}

.card p {
  margin: 0.3rem 0;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.4rem;
  }

  .filtros {
    flex-direction: column;
    align-items: center;
  }

  select,
  input[type="text"] {
    width: 90%;
  }

  .card {
    padding: 1rem;
  }

  .card h3 {
    font-size: 1.1rem;
  }

  .card p {
    font-size: 0.95rem;
  }

  .total-box {
    background-color: #1f1f1f;
    color: orange;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
    min-width: 140px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
}

/* Desktop: coloca ao lado dos filtros */
@media (min-width: 768px) {
  .filtros {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .total-box {
    margin-top: 0;
    margin-left: auto;
  }
}
