nome : Atualizar CSV do Google Drive

sobre :
  agendar :
    - cron : ' 0 */1 * * * '    # Executa a cada 1 hora
  workflow_dispatch :        # Permite execução manual

empregos :
  atualizar-csv :
    runs-on : ubuntu-latest

    passos :
      - nome : Clonar o quê
        utiliza : actions/checkout@v3

      - nome : Baixar CSV do Google Drive
        executar : |
          curl -L "https://drive.google.com/uc?export=download&id=17tW1PwgxUpR94Dtg4MHe0K7QqOv7VFHQ" -o FOR.BIZA.SGI.csv
      - nome : Configurar Git
        executar : |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
      - name : Commit & Push se houver alterações
        executar : |
          git add FOR.BIZA.SGI.csv
          git diff --cached --quiet || git commit -m "Atualização automática do CSV via Google Drive" && git push
